/*

<div class="MuiDataGrid-cell MuiDataGrid-cell--textLeft" role="gridcell" data-field="id" data-colindex="1" aria-colindex="2" aria-colspan="1" aria-rowspan="1" title="4b5e6ab5-c2df-467d-af57-3df80032021b" tabindex="-1" style="--width: 500px;">4b5e6ab5-c2df-467d-af57-3df80032021b</div>
*/

div[data-field='id']:not([role='columnheader']) {
    text-decoration: underline;
    color: #0d6efd;
    cursor: pointer;
}

div[data-field='id']:not([role='columnheader']):hover {
    color: #0a58ca;
    cursor: pointer;
}
