nav {
    /* position: fixed; */
    width: 100dvw;
    background-color: #fff;
    height: var(--navbar-height-desktop);
    z-index: 5;
    align-items: center;
    -webkit-box-shadow: 0px 1px 10px #999;
    box-shadow: 0px 1px 10px #999;

    transition: height 0.4s;
    top: 0;
    height: 50px;
}

nav .nav-wrapper {
    margin-right: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav .nav-wrapper .logo-name {
    display: grid;
    place-items: center;
    padding: 0.5rem;
}

nav .nav-wrapper .logo-name h2 {
    font-size: 2rem;
}

@media only screen and (min-width: 1200px) {
    .menu-wrap-mobile {
    }

    nav {
        display: flex;
    }

    .language-selector {
        position: absolute;
        padding-left: 1.5rem;
    }

    .logo {
        position: relative;
        margin: 0 auto;
    }

    nav .nav-wrapper {
        position: absolute;
        right: 0;
    }
}

@media only screen and (max-width: 1199px) {
    .menu-wrap-desktop {
    }

    .language-selector {
        position: absolute;
        height: var(--navbar-height-mobile-current);
        display: grid;
        place-items: center;
        padding: 0 0.7rem;
        transition: height 0.4s;
    }
}

.menu-wrap-desktop ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.menu-wrap-desktop ul li {
    margin-right: 1.5rem;
    list-style-type: none;
}

nav .nav-wrapper .menu-wrap-mobile ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    padding-top: var(--navbar-height-desktop);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    flex-flow: column;
    height: 100%;
    justify-content: center;
}

nav .nav-wrapper .menu-wrap-mobile ul li a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    height: 100%;
}

.logo .logo-img {
    width: auto;
    height: var(--navbar-height-desktop);
    object-fit: contain;
    transition: height 0.4s;
}

input[id='toggler'][type='checkbox'] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
    width: 50px;
    height: 100%;
    opacity: 0;
    margin-right: 0;
}
/* the hamburger parent for creating hamburger background */
.menu-wrap-mobile .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 100%;
    background-color: white;
    padding: 0.7rem;
    margin-right: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    height: 50px;
}

/* center hamburger line */
.menu-wrap-mobile .hamburger > div {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

/* up hamburger line */
.menu-wrap-mobile .hamburger > div::before {
    content: '';
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    background-color: black;
}

/* down hamburger line */
.menu-wrap-mobile .hamburger > div::after {
    content: '';
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: black;
}

input[id='toggler'][type='checkbox']:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

input[id='toggler'][type='checkbox']:checked + .hamburger > div::after,
input[id='toggler'][type='checkbox']:checked + .hamburger > div::before {
    content: '';
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-wrap-mobile .menu {
    position: fixed;
    top: var(--navbar-height-desktop-current);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--navbar-height-desktop-current));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    /*     transform: scale(0);
    transition: all ease-in 0.3s; */
}

.menu-wrap-mobile .menu > div {
    background: var(--primary-color);
    width: 500vh;
    height: 200vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    opacity: 0;

    -webkit-transition: all 0.5s ease-out 0s;

    -o-transition: all 0.5s ease-out 0s;

    transition: all 0.5s ease-out 0s;
}

input[id='toggler'][type='checkbox']:checked ~ .menu {
    display: flex;
    /* transform: scale(1); */
}

input[id='toggler'][type='checkbox']:checked ~ .menu > div {
    display: flex;
}

.menu-wrap-mobile .menu > div > ul {
    list-style-type: none;
}

.menu-wrap-mobile .menu > div > ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

input[id='toggler'][type='checkbox']:checked ~ .menu > div {
    display: flex;
    opacity: 1;
}

@media only screen and (max-width: 1199px) {
    nav {
        height: var(--navbar-height-mobile);
    }

    nav .nav-wrapper .menu-wrap-mobile ul {
        padding-top: 0;
    }

    .logo .logo-img {
        height: var(--navbar-height-mobile);
    }

    .menu-wrap-mobile .menu {
        top: var(--navbar-height-mobile-current);
    }
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 1;
}

.menu-wrap .menu > div {
    background: rgba(255, 255, 255, 0.78);
    width: 500vh;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.25s ease-out;
    visibility: hidden;
}

input[id='toggler'][type='checkbox']:checked ~ .menu > div {
    visibility: visible;
    transform: scale(1);
}

.menu-wrap .menu > div > ul {
    list-style-type: none;
}

.menu-wrap .menu > div > ul li {
    margin: 1.5rem;
}

.menu-wrap .menu > div > ul li a {
    /*     font-size: 2.5rem;
    text-decoration: none; */
    color: black;
}

input[id='toggler'][type='checkbox']:checked ~ .menu > div {
    visibility: visible;
    opacity: 1;
}

.logout-btn:hover {
    cursor: pointer;
}
